body {
  font-size: 110%;
}

header {
  background-color: #eee;
  text-align: center;
  padding: 5vw 0 60vw 0;
  min-height: 500px;
  background-image: url("./assets/bg-image-edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  h1 {
    font-size: 300%;
  }
  p.lead {
    font-weight: normal;
  }
  .logo {
    width: 40%;
  }
}
