body {
  font-size: 110%;
  background-image: url("./assets/bg-image-edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
  max-width: 1000px;
}

header {
  text-align: center;
  padding: 5rem 0 50vw 0;
  h1 {
    font-size: 300%;
  }
  p.lead {
    font-weight: normal;
  }
  .logo {
    width: 40%;
  }
}

.price {
  font-size: 200%;
  del {
    opacity: 0.5;
  }
}
